{% extends 'vk_friends_app/base.html' %}

{% load static %}

{% block content %}

<div class="p-0 mb-0 text-white">
  <div class="row">
    <a href="https://oauth.vk.com/authorize?client_id=6758982&display=page&redirect_uri=http://127.0.0.1:8000/friends&scope=friends&response_type=code&v=5.92">
      <button type="button" class="btn btn-info"  type="submit" value="Submit" 
              style="position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);">    
        <p class="text-center">
          <div class="col"> АВТОРИЗАЦИЯ </div>
        </p>    
      </button>
    </a>
  </div>
</div>

{% endblock %}
